@media screen and (max-width: 600px) {
  .hero-header img {
    width: 100%;
  }
}

@media screen and (min-width: 615px) {
  .restaurant__poster {
    width: 100%;
  }
  .hero-header img {
    width: 100%;
  }

  .restaurant {
    width: 100%;
  }

  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 20px 32px;
  }

  .app-bar .app-bar__brand h1 a {
    font-size: 40px;
    min-width: 44px;
    min-height: 44px;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
    font-size: 18px;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .restaurantone {
    grid-template-columns: 1fr 1fr;
  }

  .restaurant {
    grid-template-columns: auto 1fr;
  }

  .restaurant .restaurant__title {
    font-size: 30px;
    text-align: center;
  }

  .restaurant .restaurant__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .restaurant_info p {
    font-size: 18px;
    font-weight: bold;
  }

  .restaurant-restaurant-menu {
    margin: 50px auto;
  }

  .restaurant-menu {
    display: flex;
    justify-content: space-around;
  }

  .restaurant_reviews h3 {
    text-align: center;
  }

  .restaurant_list_reviews .review {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 a {
    min-width: 44px;
    min-height: 44px;
  }
  .hero-header img {
    width: 1005;
  }
}

@media screen and (min-width: 850px) {
  .restaurantone {
    grid-template-columns: repeat(2, 1fr);
  }
  .app-bar .app-bar__brand h1 a {
    min-width: 44px;
    min-height: 44px;
  }

  .hero-header img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .app-bar .app-bar__brand h1 a {
    min-width: 44px;
    min-height: 44px;
  }
  .restaurantone {
    grid-template-columns: repeat(4, 1fr);
  }

  .restaurant {
    width: 100%;
  }

  .restaurant .restaurant_title {
    font-size: 40px;
    margin: 10px auto;
    text-transform: uppercase;
    text-align: left;
  }

  .restaurant-menu {
    display: flex;
    justify-content: space-around;
  }

  .restaurant_reviews h3 {
    text-align: left;
  }

  .hero-header img {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .app-bar .app-bar__brand h1 a {
    min-width: 44px;
    min-height: 44px;
  }
  .restaurantone {
    grid-template-columns: repeat(5, 1fr);
  }
  .hero-header img {
    min-width: 1000px;
  }
}

@media screen and (max-width: 614px) {
  .app-bar .app-bar__brand h1 a {
    min-width: 44px;
    min-height: 44px;
    font-size: 35px;
  }

  .app-bar .app-bar__menu a {
    min-width: 44px;
    min-height: 44px;
    padding: 16px;
  }

  /*jumbotron */
  .hero-header img {
    width: 100%;
  }

  /*main content */
  #content-header {
    font-size: 10px;
    margin: 0 auto;
  }

  #content-header > hr {
    width: 80%;
    height: 5px;
    margin: 15px auto;
  }

  /*favorites */
  .content .content__heading {
    font-size: 20px;
    margin: 0 auto;
  }

  /*detail */
  .restaurant {
    width: 100%;
  }

  .restaurant__poster {
    width: 100%;
  }

  .restaurant .restaurant_title {
    font-size: 30px;
    text-align: center;
  }

  .restaurant .restaurant_info p {
    font-size: 14px;
    font-weight: bold;
  }

  .restaurant_reviews h3 {
    text-align: center;
  }

  .restaurant_list_reviews .review {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
